.Button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  outline: none;
  cursor: pointer;
  background-color: inherit;
  color: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  min-width: 100px;
  max-width: calc(100% - 82px);
  border-radius: 25px;
  padding: 12px 40px;
  border: 1px solid #fbd146;
  box-sizing: content-box;
  transition: background-color 0.15s ease-out, border 0.15s ease-out,
    box-shadow 0.15s ease-out;
  text-decoration: none;
}

.Button:hover {
  background-color: #ffd12c;
}

.Button:focus {
  box-shadow: 0 0 0 5px rgba(255, 209, 44, 0.4);
}

.Button:active {
  background-color: #fdc611;
}

.Button:disabled {
  cursor: default;
  border: 1px solid #e4e7eb;
  color: #d1d5da;
  background-color: transparent;
}

.Button--variant-primary {
  background-color: #ffd12c;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.Button--variant-primary.Button--inverted {
  background-color: #fff;
  border: 1px solid #fff;
}

.Button--variant-primary:hover {
  background-color: #ffd905;
}

.Button--variant-primary.Button--inverted:hover {
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid rgba(255, 255, 255, 0.85);
}

.Button--variant-primary:focus {
  box-shadow: 0 0 0 5px rgba(255, 209, 44, 0.4);
}

.Button--variant-primary.Button--inverted:focus {
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4);
}

.Button--variant-primary:active {
  background-color: #fdc611;
}

.Button--variant-primary.Button--inverted:active {
  /* background-color: #fff;
  border: 1px solid #fff; */
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid rgba(255, 255, 255, 0.95);
}

.Button--variant-primary:disabled {
  border: 1px solid #ffd12c;
  color: #262931;
  background-color: #ffd12c;
  opacity: 0.5;
}

.Button--variant-primary.Button--inverted:disabled {
  background-color: #fff;
  border: 1px solid #fff;
  opacity: 0.5;
}

.Button--variant-accent {
  max-width: calc(100% - 58px);
  min-width: 100px;
  padding: 16px 28px;
  line-height: 16px;
  border: 1px solid #e74a5a;
  color: #fff;
  background-color: #e74a5a;
  font-size: 14px;
  letter-spacing: 0.7px;
}

.Button--variant-accent:hover {
  background-color: #cf3a4a;
}

.Button--variant-accent:focus {
  background-color: #e74a5a;
  box-shadow: 0 0 0 5px rgba(231, 74, 90, 0.4);
}

.Button--variant-accent:active {
  background-color: #c73745;
}

.Button--variant-accent:disabled {
  border: 1px solid #e74a5a;
  color: #fff;
  background-color: #e74a5a;
  opacity: 0.5;
}

.Button--variant-secondary {
  /* color: #7f858f; */
  border-color: #d1d5da;
  /* border-color: #f3f3f3; */
}

.Button--variant-secondary:hover {
  background-color: #f3f3f3;
  border-color: #f3f3f3;
}

.Button--variant-secondary:focus {
  box-shadow: 0 0 0 5px rgba(209, 213, 218, 0.4);
}

.Button--variant-secondary:active {
  background-color: #f3f3f3;
  border-color: #f3f3f3;
}

.Button--variant-secondary:disabled {
  border-color: #e4e7eb;
  background-color: transparent;
}

.Button--size-small {
  min-width: 48px;
  max-width: calc(100% - 54px);
  font-size: 12px;
  line-height: 14px;
  padding: 12px 26px;
  letter-spacing: 0.6px;
}

.Button--size-small.Button--variant-primary {
  font-weight: 400;
}

.Button--iconOnly {
  min-width: 16px;
  border-radius: 20px;
  padding: 11px;
}

.Button--flat {
  border-color: transparent;
  background-color: transparent;
}

.Button--flat.Button--variant-default:hover {
  border-color: #ffd12c;
  background-color: transparent;
}

.Button--flat:disabled {
  border: 1px solid transparent;
  background-color: transparent;
}

.Button--expanded {
  width: 100%;
  justify-content: center;
}

.Button-icon {
  flex: 0 0 auto;
  line-height: 16px;
}

.Button--iconOnly .Button-icon {
  margin-right: 0;
}

.Button-title {
  padding: 0 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.Button--size-small .Button-title {
  padding: 0 4px;
}
