.ColorPicker {
  position: relative;
  display: inline-block;
  display: flex;
  align-items: flex-end;
}

.ColorPicker-button {
  padding: 8px 16px;
  font-weight: bold;
  letter-spacing: 1px;
  width: 100px;
  outline: none;
  cursor: pointer;
}

.ColorPicker-choice {
  position: absolute;
  left: 0;
  bottom: 110%;
}

.ColorPicker-resetButton {
  padding: 4px;
  outline: none;
  cursor: pointer;
}
