.SelectImage {
  position: relative;
}

.SelectImage-input {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.SelectImage-button {
  display: flex;
  align-items: flex-end;
}
.SelectImage-fileName {
  padding: 0 8px;
}
